html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background: #121212;
}

/* all-div */
#all-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: #121212;
}

/* banner */
#banner-div {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), url("/resources/header-image.png");
    background-size: cover;
    background-position-y: -190px;
    min-height: 200px;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner-text-div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 85%;
    color: #FFFFFF;
}

#main-heading {
    font-size: 2.25em;
    font-weight: 700;
    margin: 0;
}

#search-movies-btn {
    text-decoration: none;
    color: #FFFFFF;
}

/* search bar */
#search-bar-form {
    display: flex;
    align-items: center;
    min-height: 50px;
    height: 50px;
    width: 85%;
    box-sizing: border-box;
    background: #2E2E2F;

    border: 0;
    border-radius: 9px;

    margin-top: -26px;
    /* controls position of search bar div*/
}

#search-bar {
    width: 100%;
    height: 100%;

    background: #2E2E2F;

    padding: 0 1em;
    border: 0;
    border-radius: 6px 0 0 6px;
    box-sizing: border-box;

    outline: none;
    color: #A5A5A5;
    user-select: none;
}

#search-bar:focus {
    border: 2px solid #00406c;
}

#search-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 200px;

    margin: 0;
    background: #4B4B4B;

    border-radius: 0 6px 6px 0;

    color: #FFFFFF;
    user-select: none;
}

#search-btn:active {
    background: #D1D5DB;
}

/* search results */
#search-results-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: auto;
    margin-top: 1em;

}

.search-result {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3em 0 3em 0;
}

.search-result:not(:first-child) {
    border-top: 1px solid #2C2C2C;
}

.film-img {
    min-width: 150px;
    max-width: 250px;
    width: 40%;
    object-fit: contain;
    border-radius: 2.5px;
}

.film-information-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 1em 2em;
}

.film-title-and-rating-div {
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.film-title {
    font-size: 1.5em;
    margin: 0;
}

.film-rating-div {
    display: flex;
    align-items: center;
    padding: 0 1em;
    margin: 0;
}


.film-rating-star {
    padding-right: 0.1em;
}

.film-rating {
    margin: 0;
}

.film-middle-div {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 100%;
}

.film-middle-div>p {
    padding-right: 1.5em;
}

/* .film-length { 
                } */

/* .film-genres {
                } */

.remove-from-watchlist-span {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.remove-from-watchlist-img {
    padding-right: 0.5em;
}

.film-description {
    color: #A5A5A5;
    margin: 0;
}

/* search message/status */
#search-message-status-div {
    /* this id is assigned through index.js */
    color: #2E2E2F;
    font-weight: 700;
    width: 80%;
    text-align: center;
    margin-top: 20%;
}

#search-message-text {
    color: #2E2E2F;
    font-weight: 700;
}